<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.osgi.org/xmlns/blueprint/v1.0.0
		http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

	<!-- Service References -->

	<reference id="userDao" interface="org.eniware.central.user.dao.UserDao"/>
	<reference id="userMetadataDao" interface="org.eniware.central.user.dao.UserMetadataDao"/>
	<reference id="userAlertDao" interface="org.eniware.central.user.dao.UserAlertDao"/>
	<reference id="userEdgeDao" interface="org.eniware.central.user.dao.UserEdgeDao"/>
	<reference id="userAuthTokenDao" interface="org.eniware.central.user.dao.UserAuthTokenDao"/>

	<reference id="registrationBiz"
		interface="org.eniware.central.user.biz.RegistrationBiz"
		filter="(!(secured=true))"/>
	
	<reference id="userBiz"
		interface="org.eniware.central.user.biz.UserBiz"
		filter="(!(secured=true))"/>
	
	<reference id="userMetadataBiz"
		interface="org.eniware.central.user.biz.UserMetadataBiz"
		filter="(!(secured=true))"/>
	
	<reference id="userAlertBiz"
		interface="org.eniware.central.user.biz.UserAlertBiz"
		filter="(!(secured=true))"/>
	
	<reference id="EdgeOwnershipBiz"
		interface="org.eniware.central.user.biz.EdgeOwnershipBiz"
		filter="(!(secured=true))"/>
	
	<!-- Published Services -->

	<service ref="aopRegistrationBiz" interface="org.eniware.central.user.biz.RegistrationBiz" ranking="10">
		<service-properties>
			<entry key="secured" value="true"/>
		</service-properties>
	</service>

	<service ref="aopUserBiz" interface="org.eniware.central.user.biz.UserBiz" ranking="10">
		<service-properties>
			<entry key="secured" value="true"/>
		</service-properties>
	</service>

	<service ref="aopUserMetadataBiz" interface="org.eniware.central.user.biz.UserMetadataBiz" ranking="10">
		<service-properties>
			<entry key="secured" value="true"/>
		</service-properties>
	</service>

	<service ref="aopEdgeOwnershipBiz" interface="org.eniware.central.user.biz.EdgeOwnershipBiz" ranking="10">
		<service-properties>
			<entry key="secured" value="true"/>
		</service-properties>
	</service>

	<service ref="aopUserAlertBiz" interface="org.eniware.central.user.biz.UserAlertBiz" ranking="10">
		<service-properties>
			<entry key="secured" value="true"/>
		</service-properties>
	</service>
	
	<!-- Supporting Services -->

	<aop:aspectj-autoproxy/>

	<bean id="registrationSecurityAspect" class="org.eniware.central.user.aop.RegistrationSecurityAspect">
		<argument ref="userEdgeDao"/>
	</bean>
	
	<bean id="userSecurityAspect" class="org.eniware.central.user.aop.UserSecurityAspect">
		<argument ref="userEdgeDao"/>
		<argument ref="userAuthTokenDao"/>
	</bean>
	
	<bean id="userMetadataSecurityAspect" class="org.eniware.central.user.aop.UserMetadataSecurityAspect">
		<argument ref="userEdgeDao"/>
	</bean>
	
	<bean id="EdgeOwnershipSecurityAspect" class="org.eniware.central.user.aop.EdgeOwnershipSecurityAspect">
		<argument ref="userEdgeDao"/>
		<argument ref="userDao"/>
	</bean>
	
	<bean id="userAlertSecurityAspect" class="org.eniware.central.user.aop.UserAlertSecurityAspect">
		<argument ref="userEdgeDao"/>
		<argument ref="userAlertDao"/>
	</bean>
	
	<bean id="aopRegistrationBiz" class="org.eniware.central.user.support.DelegatingRegistrationBiz">
		<argument ref="registrationBiz"/>
	</bean>

	<bean id="aopUserBiz" class="org.eniware.central.user.support.DelegatingUserBiz">
		<argument ref="userBiz"/>
	</bean>

	<bean id="aopUserMetadataBiz" class="org.eniware.central.user.support.DelegatingUserMetadataBiz">
		<argument ref="userMetadataBiz"/>
	</bean>

	<bean id="aopEdgeOwnershipBiz" class="org.eniware.central.user.support.DelegatingEdgeOwnershipBiz">
		<argument ref="EdgeOwnershipBiz"/>
	</bean>
	
	<bean id="aopUserAlertBiz" class="org.eniware.central.user.support.DelegatingUserAlertBiz">
		<argument ref="userAlertBiz"/>
	</bean>

</blueprint>
